.nav-bar {
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: blue;
}
.nav-links {
  display: flex;
  gap: 1rem;
}
.nav-links a {
  display: flex;
  flex-wrap: wrap;
  color: white;
  text-decoration: none;
  text-wrap: wrap;
  font-weight: bold;
}
.nav-links a:hover {
  color: rgb(4, 180, 190);
}
.main-header h1,
h3 {
  display: flex;
  padding-left: 2rem;
  color: white;
}
.body-paragraph {
  display: flex;
  padding-left: 4rem;
  color: aliceblue;
}
@media (min-width: 500px) {
  .nav-links {
    display: flex;
    gap: 4rem;
  }
  .main-header h1,
  h3 {
    display: flex;
    padding-left: 2rem;
    color: white;
  }
  .body-paragraph {
    display: flex;
    padding-left: 4rem;
    color: aliceblue;
  }
}

@media (min-width: 1080px) {
  .nav-links {
    display: flex;
    gap: 8rem;
    font-size: larger;
  }
  .main-header h1,
  h3 {
    display: flex;
    padding-left: 2rem;
    color: white;
  }
  .body-paragraph {
    display: flex;
    padding-left: 4rem;
    color: aliceblue;
  }
}
